.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  padding: 0 1.1rem;
  border-radius: 0.8rem;
  transition: all 0.1s;
  font-weight: bold;
  transition: all 0.3s;

  &.ty01 {
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #666;
    &:hover {
      background-color: #fff;
      border-color: #666;
    }
  }

  &.ty02 {
    border: 1px solid #d1d1d1;
    color: #767676;
  }
}